services:
    - class: \PhpStanZF1\Zend\Db\TableExtension
      tags:
          - phpstan.broker.dynamicMethodReturnTypeExtension
    - class: \PhpStanZF1\Zend\Db\RowsetExtension
      tags:
          - phpstan.broker.dynamicMethodReturnTypeExtension
parameters:
  stubFiles:
    - stubs/Zend_Db_Table_Rowset_Abstract.stub
